{{- /*
  Embed di una foto Flickr senza JavaScript: l'immagine è servita
  direttamente da live.staticflickr.com e linkata alla sua pagina Flickr.
  Niente script esterni (che gli ad blocker spesso bloccano) e nessun
  layout shift, dato che width/height sono noti in anticipo.

  Uso: {{< flickr id="123" src="https://live.staticflickr.com/..." w="819" h="1024" alt="..." >}}
*/ -}}
{{- $id := .Get "id" -}}
{{- $src := .Get "src" -}}
{{- $w := .Get "w" -}}
{{- $h := .Get "h" -}}
{{- $alt := .Get "alt" | default "" -}}
{{- $owner := .Get "owner" | default site.Params.flickrOwner | default "77058054@N07" -}}
{{- $album := .Get "album" | default site.Params.flickrAlbum | default "72177720328778423" -}}
<a href="https://www.flickr.com/photos/{{ $owner }}/{{ $id }}/in/album-{{ $album }}/" target="_blank" rel="noopener noreferrer">
  <img src="{{ $src }}" width="{{ $w }}" height="{{ $h }}" alt="{{ $alt }}" loading="lazy" style="max-width:100%;height:auto">
</a>
